<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <%= link_to batman_path do %>
        <img class="imagen" src="<%= image_path("batman.jpg") %>" alt="" />
      <% end %>
    </div>

    <div class="col-sm-6">
      <%= link_to superman_path do %>
        <img class="imagen" src="<%= image_path("superman.jpg") %>" alt="" />
      <% end %>
    </div>
  </div>
</div>
