/*  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

h1 {
  text-align: center;
  background-color: rgba(128 , 128, 128, 0.1);
}

.imagen {
  /* margin: 0px;
  padding: 0px; */
  width: 100%;
}

.experiments.page3 {
  background-color: black;
}
